body {
  background-color: teal;
}

a {
  text-decoration: none;
  color: black;
}

.header {
  max-width: 1040px;
  height: 80px;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__nav__list {
  list-style: none;
  font-size: 20px;
  padding-left: 0;
  color: white;
}

.container {
  max-width: 1040px;
  margin: 0 auto;
  padding: 40px 20px;
}

.movies {
  color: white;
  margin-bottom: 20px;
}
.movies__cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.movie {
  width: 320px;
  padding: 16px 24px;
  border-radius: 10px;
  box-shadow: 0px 3px 6px black;
  background-color: white;
}
.movie__title {
  font-size: 18px;
}
.movie__rate {
  margin-bottom: 10px;
}
.movie__img {
  margin: 0 auto 10px auto;
}
.movie__img img {
  width: 480px;
  -o-object-fit: cover;
     object-fit: cover;
  margin: 0 auto;
}
.movie__instructor, .movie__comment {
  margin-bottom: 10px;
}
.movie__instructor__title, .movie__comment__title {
  font-weight: 700;
  font-size: 16px;
}
.movie__instructor__body, .movie__comment__body {
  font-size: 14px;
}

.detail {
  margin: 0 auto 20px auto;
  padding: 24px;
  width: 100%;
  max-width: 600px;
  background-color: #CCE6E6;
  border-radius: 10px;
}
.detail .movie__title {
  text-align: center;
  font-size: 22px;
  margin-bottom: 20px;
}
.detail .movie__img {
  margin: 0 auto 20px auto;
}

.action-area {
  padding: 20px;
  display: flex;
  justify-content: space-around;
}

.go-home {
  text-align: center;
}

.btn {
  padding: 8px 40px;
  font-size: 24px;
  border-radius: 5px;
  box-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3019607843);
  border: none;
  transition: transform 0.2s ease;
  cursor: pointer;
}
.btn:hover {
  transform: translate(2px, 2px);
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.3019607843);
}
.btn.green {
  background-color: green;
  color: white;
}
.btn.red {
  background-color: red;
  color: white;
}
.btn.gray {
  background-color: gray;
  color: white;
}

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal-container .modal {
  padding: 24px;
  margin: 0 auto;
  max-width: 600px;
  width: 90%;
  background-color: #CCE6E6;
}
.modal-container .modal.form .movie__title {
  text-align: center;
  font-size: 22px;
  margin-bottom: 20px;
}
.modal-container .modal.form .alert {
  text-align: center;
  font-weight: 700;
  color: red;
}
.modal-container .modal.form .formpart {
  display: flex;
  row-gap: 10px;
  flex-direction: column;
  margin-bottom: 20px;
}
.modal-container .modal.form .label__title, .modal-container .modal.form .label__instructor, .modal-container .modal.form .label__rating {
  font-size: 14px;
  font-weight: 700;
}
.modal-container .modal.form .input__title, .modal-container .modal.form .input__instructor {
  padding: 16px;
  width: 100%;
  font-size: 16px;
  color: white;
  background-color: teal;
  border-radius: 5px;
  border: solid 2px darkslategray;
}
.modal-container .modal.form .input__title::-moz-placeholder, .modal-container .modal.form .input__instructor::-moz-placeholder {
  color: white;
}
.modal-container .modal.form .input__title::placeholder, .modal-container .modal.form .input__instructor::placeholder {
  color: white;
}
.modal-container .modal.form .textarea__comment {
  padding: 16px;
  width: 100%;
  font-size: 16px;
  color: white;
  background-color: teal;
  border-radius: 5px;
  border: solid 2px darkslategray;
}
.modal-container .modal.form .textarea__comment::-moz-placeholder {
  color: white;
}
.modal-container .modal.form .textarea__comment::placeholder {
  color: white;
}

label {
  display: block;
}

.error-msg {
  color: red;
}